*{
  
  border-radius: 0.4rem;
  padding: 0.1rem;
transition: 1s;
}
body{
  background: black;
  margin: 0;
  padding: 0;
}
form{
  
  padding: 1rem;
  background:  linear-gradient(150deg,grey 60% , black 0% );
  margin: 1rem 0;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  padding: 0.3rem 0.7rem;
  border: 0.1rem solid grey;
}
input,textarea{
  border: 0.1rem solid black;
  padding: 0.2rem 0.4rem;
  margin: 0.1rem;
}
nav{
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  backdrop-filter: blur(20px);
  position: fixed;
  left: 0;top: 1rem;right: 0;
  z-index: 2;
}
.link{
  text-decoration: none;
  padding: 0.4rem;
  color: grey;
}

.inputContainer{
  position: sticky;
  top: 4rem;
  z-index: 2;
}

.title{
  color: smoke;
  font-size: 1.1rem;
  text-align: right;
}

.text{
  color: white;
}
li{
  list-style: none;
font-family: 'Courgette', cursive;
}

.todoList{
  display:grid;
  margin: auto 0;
  margin-top: 8vh;
grid-template-columns: repeat( auto-fill, minmax(8rem, 1fr) );
grid-auto-flow: row;
align-items: end;

}
.todoUl{
  backdrop-filter: blur(10px);
  background: rgba(100,100,100,0.4);
  color: white;
  margin: 2% 0;
  padding:6% 3%;
  width: 90% ;

}

.deleteBtn , .editBtn{
  font-size: 0.7rem;
  visibility: hidden;
  height: 0px;
display: none;

}
.todoUl:hover .deleteBtn {
  visibility: visible;
  height: 2rem;
  width: 4rem;
  display: inline;
  
}
.todoUl:hover .editBtn {
  display: inline;
  width: 3rem;
  visibility: visible;
  height: 2rem;
  
}

.blueCircle{
  position: fixed;
  z-index: -1;
  background: linear-gradient(220deg,blue,skyblue);
  height: 16rem;
  width: 16rem;
  border-radius: 20rem;
  top: 9rem;
}
.redCircle{
  position: fixed;
  z-index: -1;
  background: linear-gradient(100deg,red,orange);
  height: 22rem;
  width: 22rem;
  border-radius: 20rem;
  top: 19rem;
  left: 2rem;
}
.yellowCircle{
  position: fixed;
  z-index: -1;
  background: linear-gradient(270deg,yellow,orange) ;
  height: 8rem;
  width: 8rem;
  border-radius: 20rem;
  top: 19rem;
  left: 17rem;
}
.greenCircle{
  position: fixed;
  z-index: -2;
  background: linear-gradient(100deg,darkgreen,lime);
  height: 25rem;
  width: 25rem;
  border-radius: 20rem;
  top: 35rem;
  left: 3rem;
}